::ng-deep body .ui-tabview .ui-tabview-panels {
  padding: 0px !important;

  background-color: transparent !important;
  padding-left: 2.4em !important;
  border: none !important;
  color: #333333;
}
