.view {
  background: url("/assets/5602.jpg") no-repeat center center;
  background-size: cover;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  z-index: 1;
}

h1 {
  color: #ffffff;
}
