.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

.text-left {
  text-align: left;
}

.half-width {
  width: 50%;
}

.btn {
  color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}
