.card-body-custom {
  background: white;
  padding: 1rem;
  margin: 1rem;
}

.plus-style{
  cursor: pointer;
  font-size: 7rem;
  color: #cacaca;
  margin: 2px 0px 10px 37px;
}

.card-text-percentage{
  font-weight: 700;
  text-align: center;
  font-size: 32px;
}

.plus-style-discount{
  margin-left: 42%;
  text-align: end;
  cursor: pointer;
  font-size: 2rem;
  color: black;
}
