._2uq6N {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 18px;
}

._1XFmX {
  font-weight: 500;
  font-size: 13px;
  color: #686b78;
  text-transform: uppercase;
  padding-top: 2px;
}

._3iLcN {
  top: 20px;
  left: 20px;
  width: 15px;
  height: 10px;
  color: #282c3f;
  position: absolute;
}

._2_0V3 {
  position: absolute;
  font-size: 13px;
  top: 17px;
  left: 40px;
  width: 100%;
  pointer-events: none;
  color: #93959f;
}

.aeGJF {
  border: 0;
  outline: 0;
  resize: none;
  width: 100%;
  padding: 16px 16px 16px 40px;
  color: #3d4152;
  font-weight: 400;
  font-size: 14px;
  background: #f9f9f9;
}

._2JQh7 {
  max-height: 190px;
  overflow: auto;
  margin-top: 15px;
  position: relative;
  color: #686b78;
  font-size: 13px;
}

.empty-cart-size {
  height: 150px;
  width: 201px;
}

.empty-cart {
  color: #7e808c;
  letter-spacing: -.3px;
  font-size: 32px;
  font-weight: 600;
}

._2bWmk {
  width: 120px;
}

._1yTZI {
  float: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

._3L1X9 {
  display: inline-block;
  height: 30px;
  width: 83px;
  border: 1px solid #d4d5d9;
  color: #60b246;
  font-size: .9rem;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  text-align: center;
  background-color: #fff;
}

._29ugw {
  width: 70px !important;
  font-size: 12px !important;
  display: block !important;
}

._5ZwHn {

  padding: 26px 10px 0;
  height: calc(100vh - 392px);
  transition: height .4s ease;
  contain: layout;
  margin-top: 21px;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  /* top: 150px; */
}

.EEeV3 {
  margin-top: 17px;
  min-height: 115px;
}

._161V3 {
  color: #3d4152;
  font-size: 15px;
  font-weight: 600;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

._1DWmI {
  font-size: 17px;
  -ms-flex: 1;
  flex: 1;
}

._26NCu {
  font-size: 13px;
  font-weight: 300;
  color: #7e808c;
  margin-top: 2px;
}

._1gPB7 {
  height: 50px;
  background-color: #60b246;
  outline: 0;
  cursor: pointer;
  border: 0;
  color: #fff;
  margin-top: 28px;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}

._1WKwn {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

._1t-Al {
  margin: 0 -10px;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-y: hidden;
}

._2ObNr {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

._2qOpI {
  padding: 0 16px 0 15px;
}

._29Y5Z {
  float: left;
  width: 33.33333%;
  display: inline-block;
  opacity: 1;
  transform: translateZ(0);

}

._1mx0r {
  font-size: 13px;
  color: #535665;
  text-align: right;
  width: 45px;
  display: block;
}

._33KRy {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  flex-grow: 1;
  margin-right: 5px;
  display: block;
  box-sizing: inherit;
}

._3SG03 {
  display: -ms-flexbox;
  display: flex;
  box-sizing: inherit;
  -ms-flex-align: start;
  align-items: flex-start;
  flex-grow: 1;
}

._2bXOy {
  position: relative;
  padding: 10px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
