.order-style{

}

.progress-button{
  height: 100%;
  top: 0;
  position: absolute;
  right: 30;
}

.delete-button{
  height: 100%;
  top: 0;
  position: absolute;
  right: 0;
}

.red-bg{
  background: #ff7979
}
