input {
  margin: 5px;
}

img {
  height: 60px;
  width: 60px;
}

._12lpv {
  color: #535665;
  font-size: 15px;
  margin-top: 10px;
}

._2aOqz {
  line-height: 15px;
  font-size: 13px;
  color: #7e808c;
  letter-spacing: 0;
  font-weight: 300;
  font-family: ProximaNova, Arial, Helvetica Neue, sans-serifsans-serif;
  -webkit-font-smoothing: antialiased;
}

._1xb2E {
  margin-top: 4px;
  width: 100%;
  padding-right: 50px;
}

._29Y5Z {
  float: left;
  width: 33.33333%;
  display: inline-block;
  opacity: 1;
  transform: translateZ(0);

}

._1Jgt5 {
  padding-top: 10px;
  margin-top: 10px;
}

._2wg_t:last-child .GaqmA {
  padding-bottom: 35px;
  border-bottom: none;
}

._2wg_t {
  padding-top: 23px;
  position: relative;
}

.col-md-4 {
  margin-bottom: 20px;
}

.Yu6Bn {
  padding-bottom: 30px;
  font-size: 13px;
  color: #686b78;
  font-weight: 500;
  text-transform: uppercase;
}

.GaqmA {
  position: relative;
  padding-bottom: 25px;
  margin-left: 20px;
  border-bottom: 1px solid #e9e9eb;
}

._2SyqU, ._3AgCQ, ._3n1UB, ._17YwN, .jTy8b {
  font-size: 16px;
  color: #282c3f;
  font-weight: 500;
  line-height: 20px;
}

._1RPOp {
  color: #60b246;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

._1RPOp:hover {
  position: relative;
  box-shadow: 0 2px 8px #d4d5d9;
}

._3L1X9 {
  display: inline-block;
  height: 30px;
  width: 83px;
  border: 1px solid #d4d5d9;
  color: #60b246;
  font-size: .9rem;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  text-align: center;
  background-color: #fff;
}

._1G3G4 {
  float: right;
  margin-top: -3px;
}

.non-veg {
  color: #ad4728;
  border: 1px solid #ad4728;
}

.veg {
  color: green;
  border: 1px solid green;
}

h3 {
  font-size: 1.2rem;
}

.foodicon {
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  float: left;
  font-size: .75rem;
  display: block;
  -webkit-font-smoothing: antialiased;
}

